services:
  db:
    image: mysql:9.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysql -h localhost -u $$MYSQL_USER -p$$MYSQL_PASSWORD $$MYSQL_DATABASE -e 'SELECT 1'"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
  app:
    build:
      context: .
      dockerfile: Containerfile.dev
    restart: always
    environment:
      REMOTE_USER: someuser@alliancecan.ca
      affiliation: staff@alliancecan.ca
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
