{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block content %}
<h1>{% translate "Top compute users" %}</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
    </tr>
  </thead>
  <tbody>
{% for cpu_user in cpu_users %}
    <tr>
      <td><a href="/secure/jobstats/{{cpu_user.user}}">{{cpu_user.user}}</a></td>
      <td>{{cpu_user.cpu_asked}}</td>
      <td>
{% if cpu_user.cpu_badge %}
<span class="badge bg-{{cpu_user.cpu_badge}}">{{cpu_user.cpu_used | floatformat:-2}}</span>
{% else %}
{{cpu_user.cpu_used | floatformat:-2}}
{% endif %}
      </td>
      <td>{{cpu_user.mem_asked | filesizeformat}}</td>
      <td>
{% if cpu_user.mem_badge %}
<span class="badge bg-{{cpu_user.mem_badge}}">{{cpu_user.mem_max | filesizeformat}}</span>
{% else %}
{{cpu_user.mem_max | filesizeformat}}
{% endif %}
      </td>
    </tr>
{% endfor %}

{% endblock content %}
