{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Top compute users" %}{% endblock title %}

{% block content %}
<h1>{% translate "Top compute users" %}</h1>
<dl>
  <dt>{% translate "Allocated Cores" %}</dt>
  <dd>{% translate "Number of allocated cores" %}</dd>
  <dt>{% translate "Used cores" %}</dt>
  <dd>{% translate "Sum of % of cores cycle used" %} <br />
    <span class="badge badge-danger">Under 75%</span><span class="badge badge-warning">Under 90%</span><span class="badge badge-success">Above 90%</span>
  </dd>
  <dt>{% translate "Allocated memory" %}</dt>
  <dd>{% translate "Amount of memory allocated to the jobs" %}</dd>
  <dt>{% translate "Max memory" %}</dt>
  <dd>{% translate "Maximum amount of memory used within the jobs" %} <br />
    <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 50%</span><span class="badge badge-success">Above 50%</span>
  </dd>
  <dt>{% translate "Wasting" %}</dt>
  <dd>{% translate "Show the wasted resource. The normal amount of memory per cores is taken into account to remove the memory flag when a user seems to use full nodes" %}</dd>
</dl>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
      <th scope="col">{% translate "Wasting" %}</th>
    </tr>
  </thead>
  <tbody>
{% for user in cpu_users %}
    <tr>
      <td><a href="/secure/jobstats/{{user.user}}">{{user.user}}</a></td>
      <td>{{user.cpu_asked | floatformat}}</td>
      <td>
{% if user.cpu_ratio < 0.75 %}
<span class="badge badge-danger">{{user.cpu_used | floatformat:-2}}</span>
{% elif user.cpu_ratio < 0.90 %}
<span class="badge badge-warning">{{user.cpu_used | floatformat:-2}}</span>
{% else %}
{{user.cpu_used | floatformat:-2}}
{% endif %}
      </td>
      <td>{{user.mem_asked | filesizeformat}}</td>
      <td>
{% if user.mem_ratio < 0.1 %}
<span class="badge badge-danger">{{user.mem_max | filesizeformat}}</span>
{% elif user.mem_ratio < 0.50 %}
<span class="badge badge-warning">{{user.mem_max | filesizeformat}}</span>
{% else %}
{{user.mem_max | filesizeformat}}
{% endif %}
      </td>
      <td>
        {% for badge in user.waste_badges %}
        <span class="badge badge-{{badge.0}}">{{badge.1}}</span>
        {% empty %}
        <span class="badge badge-success">OK</span>
        {% endfor %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock content %}
