{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Top GPU compute users" %}{% endblock title %}

{% block content %}
<h1>{% translate "Top GPU compute users" %}</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Allocated GPUs" %}</th>
      <th scope="col">{% translate "Fully used GPUs equivalent" %}</th>
      <th scope="col">{% translate "Used GPUs" %}</th>
    </tr>
  </thead>
  <tbody>
{% for gpu_user in gpu_users %}
    <tr>
      <td><a href="/secure/jobstats/{{gpu_user.user}}">{{gpu_user.user}}</a></td>
      <td>{{gpu_user.gpu_asked}}</td>
      <td>
{% if gpu_user.gpu_used == 0 %}
<span class="badge bg-danger">{{gpu_user.gpu_util | floatformat:-1}}</span>
{% else %}
{{gpu_user.gpu_util | floatformat:-1}}
{% endif %}
      </td>
      <td>
{% if gpu_user.gpu_used == 0 %}
<span class="badge bg-danger">{{gpu_user.gpu_used}}</span>
{% elif gpu_user.gpu_used < gpu_user.gpu_asked %}
<span class="badge bg-warning">{{gpu_user.gpu_used}}</span>
{% else %}
{{gpu_user.gpu_used}}
{% endif %}
      </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock content %}
