{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Top GPU compute users" %}{% endblock title %}

{% block content %}
<h1>{% translate "Top GPU compute users" %}</h1>
<dl>
  <dt>{% translate "Allocated GPUs" %}</dt>
  <dd>{% translate "Number of GPUs currently allocated" %}</dd>
  <dt>{% translate "Used GPUs" %}</dt>
  <dd>{% translate "Number of GPUs used more than 1%" %} </br />
    {% translate "Legend" %}: <span class="badge badge-danger">If all GPUs are unused</span><span class="badge badge-warning">If some GPUs are unused</span>
  </dd>
  <dt>{% translate "Fully used GPUs equivalent" %}</dt>
  <dd>{% translate "Used GPUs is the sum of % of the reported utilization, so 2 GPUs running at 50% will be reported as 1" %} <br />
    {% translate "Legend" %}: <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 20%</span>
  </dd>
  <dt>{% translate "Allocated Cores" %}</dt>
  <dd>{% translate "Number of allocated cores" %} <br />
{% translate "Sadly CPUs metrics will be mixed if a users is also running pure CPU job at this time" %}</dd>
  <dt>{% translate "Used cores" %}</dt>
  <dd>{% translate "Sum of % of cores cycle used" %} <br />
    <span class="badge badge-danger">Under 75%</span><span class="badge badge-warning">Under 90%</span><span class="badge badge-success">Above 90%</span>
  </dd>
  <dt>{% translate "Allocated memory" %}</dt>
  <dd>{% translate "Amount of memory allocated to the jobs" %}</dd>
  <dt>{% translate "Max memory" %}</dt>
  <dd>{% translate "Maximum amount of memory used within the jobs" %} <br />
    <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 50%</span><span class="badge badge-success">Above 50%</span>
  </dd>
  <dt>{% translate "Wasting" %}</dt>
  <dd>{% translate "Show the wasted resource" %}</dd>
</dl>

<table class="table table-striped" id="gpucompute">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Allocated GPUs" %}</th>
      <th scope="col">{% translate "Used GPUs" %}</th>
      <th scope="col">{% translate "Fully used GPUs equivalent" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
      <th scope="col">{% translate "Wasting" %}</th>
    </tr>
  </thead>
  <tbody>
{% for user in gpu_users %}
    <tr>
      <td><a href="{{settings.BASE_URL}}secure/jobstats/{{user.user}}">{{user.user | anonymize}}
        {% if user.note_flag %}
        <span class="badge badge-primary"><span data-feather="alert-circle" title="User has a note"></span></span>
        {% endif %}</a>
      </td>
      <td>{{user.gpu_asked | floatformat}}</td>
      <td>
{% if user.gpu_used == 0 %}
<span class="badge badge-danger">{{user.gpu_used}}</span>
{% elif user.gpu_used > user.gpu_asked %}
<span class="badge badge-warning">{{user.gpu_used}}</span>
{% else %}
{{user.gpu_used}}
{% endif %}
      </td>
      <td>
{% if user.gpu_ratio < 0.1 %}
<span class="badge badge-danger">{{user.gpu_util | floatformat:-1}}</span>
{% elif user.gpu_ratio < 0.2 %}
<span class="badge badge-warning">{{user.gpu_util | floatformat:-1}}</span>
{% else %}
{{user.gpu_util | floatformat:-1}}
{% endif %}
      </td>
      <td>{{user.cpu_asked}}</td>
      <td>
{% if user.cpu_ratio < 0.75 %}
<span class="badge badge-danger">{{user.cpu_used | floatformat:-2}}</span>
{% elif user.cpu_ratio < 0.90 %}
<span class="badge badge-warning">{{user.cpu_used | floatformat:-2}}</span>
{% else %}
{{user.cpu_used | floatformat:-2}}
{% endif %}
      </td>
      <td>{{user.mem_asked | floatformat:0 }}</td>
      <td>{{user.mem_max | floatformat:0}}
      </td>
      <td>
{% for badge in user.waste_badges %}
<span class="badge badge-{{badge.0}}">{{badge.1}}</span>
{% empty %}
<span class="badge badge-success">OK</span>
{% endfor %}
      </td>
    </tr>
{% endfor %}
    </tbody>
</table>

<script>
  $(document).ready(function () {
    $('#gpucompute').DataTable({
      "paging": false,
      "order": [[ 1, "desc" ]],
      columns: [
        { },
        { },
        { },
        { },
        { },
        { },
        { render: function(data, type, row){
            if ( type === 'display' || type === 'filter' ) {
              return filesize(data);
            }
            else {
              return data;
            }
          }
        },
        { render: function(data, type, row){
            if ( type === 'display' || type === 'filter' ) {
              ratio = data/row[6];
              if (ratio < 0.1) {
                return '<span class="badge badge-danger">' + filesize(data) + '</span>';
              }
              else if (ratio < 0.5) {
                return '<span class="badge badge-warning">' + filesize(data) + '</span>';
              }
              else {
                return filesize(data);
              }
            }
            else {
              return data;
            }
          }
        },
        { },
      ]
    });
  });
</script>

{% endblock content %}
