{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Users on largemem" %}{% endblock title %}

{% block content %}
<h1>{% translate "Users on largemem" %}</h1>
<dl>
  <dt>{% translate "Start time" %}</dt>
  <dd>{% translate "Grace time of 1 hour before the job is in this table, to allow job to initialize" %}</dd>
  <dt>{% translate "Allocated Cores" %}</dt>
  <dd>{% translate "Number of allocated cores" %}</dd>
  <dt>{% translate "Used cores" %}</dt>
  <dd>{% translate "Sum of % of cores cycle used" %} <br />
    <span class="badge badge-danger">Under 75%</span><span class="badge badge-warning">Under 90%</span><span class="badge badge-success">Above 90%</span>
  </dd>
  <dt>{% translate "Allocated memory" %}</dt>
  <dd>{% translate "Amount of memory allocated to the jobs" %}</dd>
  <dt>{% translate "Max memory" %}</dt>
  <dd>{% translate "Maximum amount of memory used within the jobs" %} <br />
    <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 50%</span><span class="badge badge-success">Above 50%</span>
  </dd>
  <dt>{% translate "Wasting" %}</dt>
  <dd>{% translate "Show the wasted resource" %}</dd>
</dl>

<table class="table table-striped" id="largemem">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Account" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
      <th scope="col">{% translate "Wasting" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in by_users %}
    <tr>
      <td><a href="{{settings.BASE_URL}}secure/jobstats/{{user.user}}">{{user.user | anonymize}}
        {% if user.note_flag %}
        <span class="badge badge-primary"><span data-feather="alert-circle" title="User has a note"></span></span>
        {% endif %}</a>
      </td>
      <td><a href="{{settings.BASE_URL}}secure/accountstats/{{user.account}}">{{user.account | anonymize}}</a></td>
      <td>{{user.cpu_asked | floatformat}}</td>
      <td>
{% if user.cpu_ratio < 0.75 %}
<span class="badge badge-danger">{{user.cpu_used | floatformat:-1}}</span>
{% elif user.cpu_ratio < 0.90 %}
<span class="badge badge-warning">{{user.cpu_used | floatformat:-1}}</span>
{% else %}
{{user.cpu_used | floatformat:-1}}
{% endif %}
      </td>
      <td>{{user.mem_asked | floatformat:0 }}</td>
      <td>{{user.mem_max | floatformat:0 }}</td>
      <td>
        {% for badge in user.waste_badges %}
        <span class="badge badge-{{badge.0}}">{{badge.1}}</span>
        {% empty %}
        <span class="badge badge-success">OK</span>
        {% endfor %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<script>
  $(document).ready(function () {
    $('#largemem').DataTable({
      "paging": false,
      "order": [[ 4, "desc" ]],
      columns: [
        { },
        { },
        { },
        { },
        { render: function(data, type, row){
            if ( type === 'display' || type === 'filter' ) {
              return filesize(data);
            }
            else {
              return data;
            }
          }
        },
        { render: function(data, type, row){
            if ( type === 'display' || type === 'filter' ) {
              ratio = data/row[4];
              if (ratio < 0.1) {
                return '<span class="badge badge-danger">' + filesize(data) + '</span>';
              }
              else if (ratio < 0.5) {
                return '<span class="badge badge-warning">' + filesize(data) + '</span>';
              }
              else {
                return filesize(data);
              }
            }
            else {
              return data;
            }
          }
        },
        { },
      ]
    });
  });
</script>

{% endblock content %}
