{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Users on largemem" %}{% endblock title %}

{% block content %}
<h1>{% translate "Users on largemem" %}</h1>
<dl>
  <dt>{% translate "Start time" %}</dt>
  <dd>{% translate "Grace time of 1 hour before the job is in this table, to allow job to initialize" %}</dd>
  <dt>{% translate "Allocated Cores" %}</dt>
  <dd>{% translate "Number of allocated cores" %}</dd>
  <dt>{% translate "Used cores" %}</dt>
  <dd>{% translate "Sum of % of cores cycle used" %} <br />
    <span class="badge badge-danger">Under 75%</span><span class="badge badge-warning">Under 90%</span><span class="badge badge-success">Above 90%</span>
  </dd>
  <dt>{% translate "Allocated memory" %}</dt>
  <dd>{% translate "Amount of memory allocated to the jobs" %}</dd>
  <dt>{% translate "Max memory" %}</dt>
  <dd>{% translate "Maximum amount of memory used within the jobs" %} <br />
    <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 50%</span><span class="badge badge-success">Above 50%</span>
  </dd>
  <dt>{% translate "Wasting" %}</dt>
  <dd>{% translate "Show the wasted resource" %}</dd>
</dl>

<table class="table table-striped" id="largemem">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Job ID" %}</th>
      <th scope="col">{% translate "Account" %}</th>
      <th scope="col">{% translate "Start time" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
      <th scope="col">{% translate "Wasting" %}</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <td><a href="{{settings.BASE_URL}}secure/jobstats/{{job.user}}">{{job.user | anonymize}}
        {% if job.user_flag %}
        <span class="badge badge-primary"><span data-feather="alert-circle" title="User has a note"></span></span>
        {% endif %}</a>
      </td>
      <td><a href="{{settings.BASE_URL}}secure/jobstats/{{job.user}}/{{job.job_id}}">{{job.job_id}}</a>
        {% if job.job_flag %}
        <span class="badge badge-primary"><span data-feather="alert-circle" title="Job has a note"></span></span>
        {% endif %}</a>
      </td>
      <td><a href="{{settings.BASE_URL}}secure/accountstats/{{job.account}}">{{job.account | anonymize}}</a></td>
      <td>{{job.time_start_dt | date:"U"}}</td>
      <td>{{job.cpu_asked | floatformat}}</td>
      <td>
{% if job.cpu_ratio < 0.75 %}
<span class="badge badge-danger">{{job.cpu_used | floatformat:-2}}</span>
{% elif job.cpu_ratio < 0.90 %}
<span class="badge badge-warning">{{job.cpu_used | floatformat:-2}}</span>
{% else %}
<span class="badge badge-success">{{job.cpu_used | floatformat:-2}}</span>
{% endif %}
      </td>
      <td>{{job.mem_asked | floatformat:0 }}</td>
      <td>{{job.mem_max | floatformat:0 }}</td>
      <td>
        {% for badge in job.waste_badges %}
        <span class="badge badge-{{badge.0}}">{{badge.1}}</span>
        {% empty %}
        <span class="badge badge-success">OK</span>
        {% endfor %}
      </td>
    </tr>
{% endfor %}

<script>
  $(document).ready(function () {
    luxon.Settings.defaultLocale = "{{LANGUAGE_CODE}}"; // Luxon autodetect seems broken
    function parse_time(data, type) {
      if (type == 'display' || type === 'filter'){
        return DateTime.fromSeconds(parseInt(data)).toLocaleString(DateTime.DATETIME_MED);
      }
      else{
        return data;
      }
    }

    $('#largemem').DataTable({
      "paging": false,
      "order": [[ 6, "desc" ]],
      columns: [
        { },
        { },
        { },
        { render: parse_time },
        { },
        { },
        { render: function(data, type, row){
            if ( type === 'display' || type === 'filter' ) {
              return filesize(data);
            }
            else {
              return data;
            }
          }
        },
        { render: function(data, type, row){
            if ( type === 'display' || type === 'filter' ) {
              ratio = data/row[5];
              if (ratio < 0.1) {
                return '<span class="badge badge-danger">' + filesize(data) + '</span>';
              }
              else if (ratio < 0.5) {
                return '<span class="badge badge-warning">' + filesize(data) + '</span>';
              }
              else {
                return filesize(data);
              }
            }
            else {
              return data;
            }
          }
        },
        { },
      ]
    });
  });
</script>

{% endblock content %}
