{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Users on largemem" %}{% endblock title %}

{% block content %}
<h1>{% translate "Users on largemem" %}</h1>
<dl>
  <dt>{% translate "Start time" %}</dt>
  <dd>{% translate "Grace time of 1 hour before the job is in this table, to allow job to initialize" %}</dd>
  <dt>{% translate "Allocated Cores" %}</dt>
  <dd>{% translate "Number of allocated cores" %}</dd>
  <dt>{% translate "Used cores" %}</dt>
  <dd>{% translate "Sum of % of cores cycle used" %} <br />
    <span class="badge badge-danger">Under 75%</span><span class="badge badge-warning">Under 90%</span><span class="badge badge-success">Above 90%</span
  </dd>
  <dt>{% translate "Allocated memory" %}</dt>
  <dd>{% translate "Amount of memory allocated to the jobs" %}</dd>
  <dt>{% translate "Max memory" %}</dt>
  <dd>{% translate "Maximum amount of memory used within the jobs" %} <br />
    <span class="badge badge-danger">Under 10%</span><span class="badge badge-warning">Under 50%</span><span class="badge badge-success">Above 50%</span
  </dd>
  <dt>{% translate "Wasting" %}</dt>
  <dd>{% translate "Show the wasted resource" %}</dd>
</dl>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Username" %}</th>
      <th scope="col">{% translate "Job ID" %}</th>
      <th scope="col">{% translate "Start time" %}</th>
      <th scope="col">{% translate "Allocated cores" %}</th>
      <th scope="col">{% translate "Used cores" %}</th>
      <th scope="col">{% translate "Allocated memory" %}</th>
      <th scope="col">{% translate "Max memory" %}</th>
      <th scope="col">{% translate "Wasting" %}</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <td><a href="/secure/jobstats/{{job.user}}">{{job.user}}</a></td>
      <td><a href="/secure/jobstats/{{job.user}}/{{job.job_id}}">{{job.job_id}}</a></td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_start_dt}}">{{job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
      <td>{{job.cpu_asked}}</td>
      <td>
{% if job.cpu_ratio < 0.75 %}
<span class="badge badge-danger">{{job.cpu_used | floatformat:-2}}</span>
{% elif job.cpu_ratio < 0.90 %}
<span class="badge badge-warning">{{job.cpu_used | floatformat:-2}}</span>
{% else %}
<span class="badge badge-success">{{job.cpu_used | floatformat:-2}}</span>
{% endif %}
      </td>
      <td>{{job.mem_asked | filesizeformat}}</td>
      <td>
{% if job.mem_ratio < 0.10 %}
<span class="badge badge-danger">{{job.mem_max | filesizeformat}}</span>
{% elif job.mem_ratio < 0.50 %}
<span class="badge badge-warning">{{job.mem_max | filesizeformat}}</span>
{% else %}
<span class="badge badge-success">{{job.mem_max | filesizeformat}}</span>
{% endif %}
      </td>
      <td>
        {% if job.mem_ratio < 0.10 or job.cpu_ratio < 0.75 %}
          {% if job.mem_ratio < 0.10 and job.cpu_ratio > 0.75 %}
          <span class="badge badge-danger">Memory</span>
          {% elif job.mem_ratio > 0.10 and job.cpu_ratio < 0.75%}
          <span class="badge badge-danger">Cores</span>
          {% else %}
          <span class="badge badge-danger">Cores & Memory</span>
          {% endif %}
        {% elif job.mem_ratio < 0.50 or job.cpu_ratio < 0.90 %}
          {% if job.mem_ratio < 0.50 and job.cpu_ratio > 0.90 %}
          <span class="badge badge-warning">Memory</span>
          {% elif job.mem_ratio > 0.50 and job.cpu_ratio < 0.90%}
          <span class="badge badge-warning">Cores</span>
          {% else %}
          <span class="badge badge-warning">Cores & Memory</span>
          {% endif %}
        {% else %}
        <span class="badge badge-success">OK</span>
        {% endif %}
      </td>
    </tr>
{% endfor %}

{% endblock content %}
