{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block content %}
<h1>{% translate "Top Lustre users" %}</h1>

{% for fs in lustre_fs_names %}
<h2>{{fs}}</h2>
<h3>IOPS</h3>
<div id="graph_mdt_{{fs}}"></div>
<h3>Read</h3>
<div id="graph_ost_read_{{fs}}"></div>
<h3>Write</h3>
<div id="graph_ost_write_{{fs}}"></div>

{% endfor %}

<script>
{% for fs in lustre_fs_names %}
$.getJSON('graph/lustre_mdt/{{fs}}.json', function(data){
  Plotly.newPlot('graph_mdt_{{fs}}', data['lines'], data['layout']);
});
$.getJSON('graph/lustre_ost_read/{{fs}}.json', function(data){
  Plotly.newPlot('graph_ost_read_{{fs}}', data['lines'], data['layout']);
});
$.getJSON('graph/lustre_ost_write/{{fs}}.json', function(data){
  Plotly.newPlot('graph_ost_write_{{fs}}', data['lines'], data['layout']);
});

{% endfor %}
</script>

{% endblock content %}
