{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block content %}
<h1>{% translate "Top Lustre users" %}</h1>

{% for fs in lustre_fs_names %}
<h2>{{fs}}</h2>
<h3>{% translate "IOPS" %}</h3>
<div id="graph_mdt_{{fs}}"></div>
<h3>{% translate "Read" %}</h3>
<div id="graph_ost_read_{{fs}}"></div>
<h3>{% translate "Write" %}</h3>
<div id="graph_ost_write_{{fs}}"></div>

{% endfor %}

<script>
{% for fs in lustre_fs_names %}
loadGraph('graph_mdt_{{fs}}', 'graph/lustre_mdt/{{fs}}.json');
loadGraph('graph_ost_read_{{fs}}', 'graph/lustre_ost_read/{{fs}}.json');
loadGraph('graph_ost_write_{{fs}}', 'graph/lustre_ost_write/{{fs}}.json');
{% endfor %}
</script>

{% endblock content %}
