{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Nodes" %}{% endblock title %}

{% block content %}
<h1>{% translate "Nodes" %}</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>{% translate "Node" %}</th>
            <th>{% translate "State" %}</th>
            <th>{% translate "Cores used" %}</th>
            <th>{% translate "Cores trend" %}</th>
        </tr>
    </thead>
    {% for node in node_stats %}
    <tr>
        <td><a href="{{ node.name }}">{{ node.name }}</a></td>
        <td>{{node.state}}</td>
        <td>{{node.cpu_used_avg|floatformat:1}}</td>
        <td><span id="{{node.name}}_cpu" class="line">{{node.cpu_used|join:','}}</span></td>
    </tr>
    {% endfor %}
</table>

{{node_stats|json_script:"node_stats"}}

<script>
    var node_stats = JSON.parse(document.getElementById('node_stats').textContent);
    Object.keys(node_stats).forEach(function(key){
        peity(document.getElementById(node_stats[key].name + '_cpu'), "line", {
            'max': node_stats[key].cpu_count,
            'width': 100,
        })
    });
</script>
{% endblock content %}
