{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Nodes" %}{% endblock title %}

{% block content %}
<h1>{% translate "Nodes" %}</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>{% translate "Node" %}</th>
            <th>{% translate "Cores used" %}</th>
            <th>{% translate "Cores trend" %}</th>
        </tr>
    </thead>
    {% for node in node_stats.keys %}
    <tr>
        <td><a href="{{ node }}">{{ node }}</a></td>
        <td><span id="{{node}}_cpu_number"></span></td>
        <td><svg class="sparkline" id="{{node}}_cpu" width="100" height="30" stroke-width="3"></svg></td>
    </tr>
    {% endfor %}
</table>

{{node_stats|json_script:"node_stats"}}

<script>
    var node_stats = JSON.parse(document.getElementById('node_stats').textContent);
    Object.keys(node_stats).forEach(function(key){
        sparkline.sparkline(document.getElementById(key + '_cpu'), node_stats[key].cpu);
        document.getElementById(key + '_cpu_number').innerHTML = _.mean(node_stats[key].cpu).toFixed(2);
    });
</script>
{% endblock content %}
