{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "User summary" %}{% endblock title %}

{% block content %}

{% if 'quotasgpfs' in settings.INSTALLED_APPS %}
  <a class="btn btn-primary" href="{{settings.BASE_URL}}/secure/quotasgpfs/user/{{ username }}">Show User Quotas</a>
{% endif %}

{% if 'lfs_quota' in settings.EXPORTER_INSTALLED %}
<h1>{% translate "Your filesystem quotas" %} {% if 'quotas' in settings.INSTALLED_APPS %}<a href="{{settings.BASE_URL}}secure/quotas/{{username}}">({% translate "More details" %})</a>{% endif %}</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Type" %}</th>
      <th scope="col">{% translate "Name" %}</th>
      <th scope="col">{% translate "Inodes" %}</th>
      <th scope="col">{% translate "Size" %}</th>
    </tr>
  </thead>
  <tbody>
    {% translate 'less than 50' as less_than_50 %}
    {% translate 'less than 4MB' as less_than_4MB %}
    {% for alloc in allocs %}
    <tr>
      <td>{{alloc.type}}</td>
      <td>{{alloc.name | anonymize }}</td>
      <td>{{ alloc.inodes | intword | default_if_none:less_than_50 }} on {{ alloc.quota_inodes | intword }} {% translate "inodes" %}
        {% if alloc.inodes > alloc.quota_inodes %}
        <br /><span class="text-danger">{% translate "Over quota" %}</span>
        {% endif %}
        <br />
        <div id="graph_alloc_inodes_{{ alloc.type }}_{{ alloc.name }}"></div>
      </td>
      <td>{{ alloc.bytes | filesizeformat | default_if_none:less_than_4MB }} on {{ alloc.quota_bytes | filesizeformat }} {% translate "bytes" %}
        {% if alloc.bytes > alloc.quota_bytes %}
        <br /><span class="text-danger">{% translate "Over quota" %}</span>
        {% endif %}
        <br />
        <div id="graph_alloc_bytes_{{ alloc.type }}_{{ alloc.name }}"></div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if 'jobstats' in settings.INSTALLED_APPS %}
<h1>{% translate "Your latest 10 jobs" %} <a href="{{settings.BASE_URL}}secure/jobstats/{{username}}">({% translate "More details" %})</a></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Job ID" %}</th>
      <th scope="col">{% translate "Status" %}</th>
      <th scope="col">{% translate "Job name" %}</th>
      <th scope="col">{% translate "Submit time" %}</th>
      <th scope="col">{% translate "Start time" %}</th>
      <th scope="col">{% translate "End time" %}</th>
      <th scope="col">{% translate "Asked time" %}</th>
      <th scope="col">{% translate "Used time" %}</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <th scope="row"><a href="{{settings.BASE_URL}}secure/jobstats/{{username}}/{{job.id_job}}">{{job.id_job}}</a></th>
      <td><span class="badge badge-{{job.status_badge}}">{{job.status}}</span></td>
      <td>{{job.job_name | anonymize }}</td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_submit_dt}}">{{job.time_submit_dt | naturaltime}} <span data-feather="info"></span></span></td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_start_dt}}">{{job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_end_dt}}">{{job.time_end_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
      <td>{{job.timelimit_display | default_if_none:'' }}</td>
      <td>{{job.used_time_display | default_if_none:'' }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
<script>
  {% if 'lfs_quota' in settings.EXPORTER_INSTALLED %}
    {% for alloc in allocs %}
      loadGraph('graph_alloc_inodes_{{ alloc.type }}_{{ alloc.name }}', 'graph/storage/{{ alloc.type }}/{{ alloc.name }}/inodes.json');
      loadGraph('graph_alloc_bytes_{{ alloc.type }}_{{ alloc.name }}', 'graph/storage/{{ alloc.type }}/{{ alloc.name }}/bytes.json');
    {% endfor %}

  {% endif %}
</script>

{% endblock content %}
