{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% translate "User summary" %}
{% endblock title %}

{% block content %}
{% if 'lfs_quota' in settings.EXPORTER_INSTALLED %}
<h1>{% translate "Your filesystem quotas" %} {% if 'quotas' in settings.INSTALLED_APPS %}<a href="/secure/quotas/{{username}}">({% translate "More details" %})</a>{% endif %}</h1>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Filesystem" %}</th>
      <th scope="col">{% translate "Inodes" %}</th>
      <th scope="col">{% translate "Size" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">/home</th>
      {% translate 'less than 50' as less_than_50 %}
      {% translate 'less than 4MB' as less_than_4MB %}
      <th scope="row">{{ home.inodes | intword | default_if_none:less_than_50 }} on {{ home.inodes_quota | intword }} {% translate "inodes" %}</th>
      <th scope="row">{{ home.bytes | filesizeformat | default_if_none:less_than_4MB }} on {{ home.bytes_quota | filesizeformat }}</th>
    </tr>
    <tr>
      <th scope="row">/scratch</th>
      <th scope="row">{{ scratch.inodes | intword | default_if_none:less_than_50 }} on {{ scratch.inodes_quota | intword }} {% translate "inodes" %}</th>
      <th scope="row">{{ scratch.bytes | filesizeformat | default_if_none:less_than_4MB }} on {{ scratch.bytes_quota | filesizeformat }}</th>
    </tr>
    {% for project in alloc_projects %}
    <tr>
      <th scope="row">/project/{{ project.name }}</th>
      <th scope="row">{{ project.inodes | intword | default_if_none:less_than_50 }} on {{ project.inodes_quota | intword }} {% translate "inodes" %}</th>
      <th scope="row">{{ project.bytes | filesizeformat | default_if_none:less_than_4MB }} on {{ project.project_storage_bytes | filesizeformat }}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if 'jobstats' in settings.INSTALLED_APPS %}
<h1>{% translate "Your latest 10 jobs" %} <a href="/secure/jobstats/{{username}}">({% translate "More details" %})</a></h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Job ID" %}</th>
      <th scope="col">{% translate "Status" %}</th>
      <th scope="col">{% translate "Job name" %}</th>
      <th scope="col">{% translate "Submit time" %}</th>
      <th scope="col">{% translate "Start time" %}</th>
      <th scope="col">{% translate "End time" %}</th>
      <th scope="col">{% translate "Asked time" %}</th>
      <th scope="col">{% translate "Used time" %}</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
      <th scope="row"><a href="/secure/jobstats/{{username}}/{{job.id_job}}">{{job.id_job}}</a></th>
      <td><span class="badge badge-{{job.status_badge}}">{{job.status}}</span></td>
      <td>{{job.job_name}}</td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_submit_dt}}">{{job.time_submit_dt | naturaltime}} <span data-feather="info"></span></span></td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_start_dt}}">{{job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
      <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_end_dt}}">{{job.time_end_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
      <td>{{job.timelimit_display | default_if_none:'' }}</td>
      <td>{{job.used_time_display | default_if_none:'' }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
<script>
</script>

{% endblock content %}
