{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Data transfer nodes" %}{% endblock title %}

{% block content %}
<h2>{% translate "Data transfer nodes" %}</h2>

{% include "nav_last_week.html" %}

<h3>{% translate "Bandwidth" %}</h3>
<div class="container">
    <div class="row">
    {% for dtn in dtns %}
        <div class="col-sm">
            <h4>{{dtn}}</h4>
            <div id="graph_{{dtn}}_network"></div>
        </div>
    {% endfor %}
    </div>
</div>

<script>
    function loadGraphs(delta){
        {% for dtn in dtns %}
        loadGraph('graph_{{dtn}}_network', 'graph/network/{{dtn}}.json?delta=' + delta);
        {% endfor %}
    }
    $(document).ready(function(){
        loadGraphs('1h');

        $('#myTabs a').click(function (e) {
            if($(this).attr('href') == '#last_week'){
                loadGraphs('1w');
            }
            if($(this).attr('href') == '#last_day'){
                loadGraphs('1d');
            }
            if($(this).attr('href') == '#last_hour'){
                loadGraphs('1h');
            }
        })
    });
</script>


{% endblock content %}
