{% extends 'base.html' %}
{% load humanize %}

{% block title %}
{% endblock title %}

{% block content %}
<h2>Cluster and services description</h2>

{{ settings.CLUSTER_INTRO | safe }}


<ul class="list-group">
{% if 'lustre_exporter' in settings.EXPORTER_INSTALLED %}
    <li class="list-group-item"><a href='filesystem/'><span data-feather="hard-drive"></span> Filesystems performance</a></li>
{% endif %}
{% if 'node_exporter' in settings.EXPORTER_INSTALLED %}
    <li class="list-group-item"><a href='logins/'><span data-feather="monitor"></span> Logins nodes</a></li>
{% endif %}
{% comment %}
{% if 'node_exporter' in settings.EXPORTER_INSTALLED %}
    <li class="list-group-item"><a href='scheduler/'><span data-feather="file-text"></span> Scheduler</a></li>
{% endif %}
{% if 'node_exporter' in settings.EXPORTER_INSTALLED %}
    <li class="list-group-item"><a href='dtn/'><span data-feather="globe"></span> Data transfer nodes</a></li>
{% endif %}
{% endcomment %}
</ul>

{% endblock content %}
