{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Scheduler" %}{% endblock title %}

{% block content %}
<h2>{% translate "Sheduler" %}</h2>

{% include "nav_last_week.html" %}

<h3>{% translate "Allocated resources" %}</h3>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>{% translate "Allocated CPUs" %}</h4>
            <p>{% translate "This include the CPU cores on the GPU nodes" %}</p>
            <div id="graph_allocated_cpu"></div>
        </div>
        <div class="col-sm">
            <h4>{% translate "Allocated GPUs" %}</h4>
            <p>{% translate "Used GPUs is the sum of % of the reported utilization, so 2 GPUs running at 50% will be reported as 1" %}</p>
            <p>{% translate "Active GPUs means the number of GPUs using at least 1% of their compute cycles" %}</p>
            <div id="graph_allocated_gpu"></div>
        </div>
    </div>
</div>


<script>
    function loadGraphs(delta){
        loadGraph('graph_allocated_cpu', 'graph/allocated_cpu.json?delta=' + delta);
        loadGraph('graph_allocated_gpu', 'graph/allocated_gpu.json?delta=' + delta);
    }
    $(document).ready(function(){
        loadGraphs(60*60);

        $('#myTabs a').click(function (e) {
            if($(this).attr('href') == '#last_week'){
                loadGraphs(60*60*24*7);
            }
            if($(this).attr('href') == '#last_day'){
                loadGraphs(60*60*24);
            }
            if($(this).attr('href') == '#last_hour'){
                loadGraphs(60*60);
            }
        })
    });
</script>


{% endblock content %}
