{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Scientific software" %}{% endblock title %}

{% block content %}
<h1>{% translate "Scientific software" %}</h1>
<div class="container">
    <h2>{% translate "CPU cores used" %}</h2>
    <div class="row">
        <div class="col-sm">
            <h4>{% translate "By software" %}</h4>
            <div id="graph_software"></div>
        </div>
        <div class="col-sm">
            <h4>{% translate "By stack" %}</h4>
            <div id="graph_software_stack"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h4>{% translate "On CVMFS" %}</h4>
            <div id="graph_software_cvmfs"></div>
        </div>
        <div class="col-sm">
            <h4>{% translate "Not on CVMFS" %}</h4>
            <div id="graph_software_not_cvmfs"></div>
        </div>
    </div>

    <h2>{% translate "GPUs used" %}</h2>
    <div class="row">
        <div class="col-sm">
            <h4>{% translate "GPUs allocated by software" %}</h4>
            <div id="graph_software_gpu"></div>
        </div>
        <div class="col-sm">
            <h4>{% translate "Cores allocated to GPUs jobs by software" %}</h4>
            <div id="graph_software_cores_with_gpu"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        loadGraph('graph_software', 'graph/software.json');
        loadGraph('graph_software_stack', 'graph/software_stack.json');
        loadGraph('graph_software_cvmfs', 'graph/software_cvmfs.json');
        loadGraph('graph_software_not_cvmfs', 'graph/software_not_cvmfs.json');

        loadGraph('graph_software_gpu', 'graph/software_gpu.json');
        loadGraph('graph_software_cores_with_gpu', 'graph/software_cores_with_gpu.json');
    });
</script>

{% endblock content %}
