{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% translate "Your cloud use" %}
{% endblock title %}

{% block content %}
<h1>{% translate "Your cloud use" %}</h1>

<h3>{% translate "Your projects" %}</h3>
    {% if projects %}
    <ul>
    {% for project in projects %}
      <li><a href="{{ project }}">{{project}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>{% translate "You have no projects" %}</p>
    {% endif %}

{% if request.META.is_staff %}
  <ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#last_month" role="tab">{% translate "Last month" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#last_week" role="tab">{% translate "Last week" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#last_day" role="tab">{% translate "Last day" %}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#last_hour" role="tab">{% translate "Last hour" %}</a>
    </li>
  </ul>

  <h3>{% translate "All projects" %}</h3>
  <h4>CPU used</h4>
  <div id="graph_cpu"></div>
  <h4>Memory used</h4>
  <div id="graph_mem"></div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>{% translate "Project" %}</th>
        <th>{% translate "Allocated cores" %}</th>
      </tr>
    </thead>
    <tbody>
  {% for project in all_projects %}
    <tr>
      <td><a href="{{ project.name }}">{{project.name}}</a></td>
      <td>{{project.cores}}</td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if request.META.is_staff %}
<script>
  function loadGraphs(delta){
    loadGraph('graph_cpu', 'graph/cpu.json?delta=' + delta);
    loadGraph('graph_mem', 'graph/mem.json?delta=' + delta);
}
$(document).ready(function(){
    loadGraphs('1w');

    $('#myTabs a').click(function (e) {
        if($(this).attr('href') == '#last_month'){
          loadGraphs('1m');
        }
        if($(this).attr('href') == '#last_week'){
            loadGraphs('1w');
        }
        if($(this).attr('href') == '#last_day'){
            loadGraphs('1d');
        }
        if($(this).attr('href') == '#last_hour'){
            loadGraphs('1h');
        }
    })
});
</script>
{% endif %}
{% endblock content %}
