{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Your cloud use" %}{% endblock title %}

{% block content %}
<h1>{% translate "Your cloud use" %}</h1>

<h3>{% translate "Your projects" %}</h3>
    {% if projects %}
    <ul>
    {% for project in projects %}
      <li><a href="{{ project }}">{{project}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>{% translate "You have no projects" %}</p>
    {% endif %}

{% if request.user.is_staff %}

  <h3>{% translate "All projects" %}</h3>
  <div class="mb-4">
    <a href="{% url 'resource_graphs' %}" class="btn btn-primary">
      {% translate "Resource Usage Graphs" %}
    </a>
  </div>
  <h4>{% translate "Projects" %}</h4>
  Total physical cores: {{physical_cores | floatformat:0}}<br>
  Total physical memory: {{physical_memory | floatformat:0}} GB<br>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>{% translate "Project" %}</th>
        <th>{% translate "Running cores" %}</th>
        <th>{% translate "Used cores" %}</th>
        <th>{% translate "Running memory (GB)" %}</th>
        <th>{% translate "Used memory (GB)" %}</th>
        <th>{% translate "Running GPUs" %}</th>
        <th>{% translate "Block capacity (GB)" %}</th>
      </tr>
    </thead>
    <tbody>
  {% for project in all_projects %}
    <tr>
      <td><a href="{{ project.id }}">{{project.name | anonymize }}</a></td>
      <td>{{project.cores | floatformat:1}}</td>
      <td>{{project.used_cores | floatformat:1}}</td>
      <td>{{project.memory | floatformat:1}}</td>
      <td>{{project.used_memory | floatformat:1}}</td>
      <td>{{project.gpu_qty | floatformat:1}}</td>
      <td>{{project.block_capacity | floatformat:1}}</td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endblock content %}
