{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% translate "Your instance use" %}
{% endblock title %}

{% block content %}
<h1>{% translate "Your instance use" %}</h1>

<h3>{% translate "CPU cores" %}</h3>
<div id="graph_cpu"></div>

<h3>{% translate "Memory" %}</h3>
<div id="graph_memory"></div>

<h3>{% translate "Disk bandwidth" %}</h3>
<div id="graph_disk_bandwidth"></div>

<h3>{% translate "Disk IOPS" %}</h3>
<div id="graph_disk_iops"></div>

<h3>{% translate "Network bandwidth" %}</h3>
<div id="graph_network_bandwidth"></div>

<script>
loadGraph('graph_cpu', 'cpu');
loadGraph('graph_memory', 'memory');
loadGraph('graph_disk_bandwidth', 'disk_bandwidth');
loadGraph('graph_disk_iops', 'disk_iops');
loadGraph('graph_network_bandwidth', 'network_bandwidth');

</script>

{% endblock content %}
