{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Your cloud project use" %}{% endblock title %}

{% block content %}
<h1>{% translate "Your cloud project use" %}</h1>

<h3>{% translate "Your instances" %}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Name" %}</th>
      <th scope="col">{% translate "Flavor" %}</th>
      <th scope="col">{% translate "UUID" %}</th>
    </tr>
  </thead>
  <tbody>
{% for instance in instances %}
    <tr>
      <td><a href="{{ instance.uuid }}">{{ instance.instance_name | anonymize }}</a></td>
      <td>{{ instance.instance_type }}</td>
      <td>{{ instance.uuid }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% include "nav_last_month.html" %}

<h3>{% translate "CPU cores" %}</h3>
<div id="graph_cpu"></div>

<h3>{% translate "Memory" %}</h3>
<div id="graph_memory"></div>

<h3>{% translate "Disk bandwidth" %}</h3>
<div id="graph_disk_bandwidth"></div>

<h3>{% translate "Disk IOPS" %}</h3>
<div id="graph_disk_iops"></div>

<h3>{% translate "Network bandwidth" %}</h3>
<div id="graph_network_bandwidth"></div>

<script>
function loadGraphs(delta){
  loadGraph('graph_cpu', 'graph/cpu.json?delta=' + delta);
  loadGraph('graph_memory', 'graph/memory.json?delta=' + delta);
  loadGraph('graph_disk_bandwidth', 'graph/disk_bandwidth.json?delta=' + delta);
  loadGraph('graph_disk_iops', 'graph/disk_iops.json?delta=' + delta);
  loadGraph('graph_network_bandwidth', 'graph/network_bandwidth.json?delta=' + delta);
}
$(document).ready(function(){
  loadGraphs(60*60*24*7);

  $('#myTabs a').click(function (e) {
      if($(this).attr('href') == '#last_month'){
        loadGraphs(60*60*24*30);
      }
      if($(this).attr('href') == '#last_week'){
          loadGraphs(60*60*24*7);
      }
      if($(this).attr('href') == '#last_day'){
          loadGraphs(60*60*24);
      }
      if($(this).attr('href') == '#last_hour'){
          loadGraphs(60*60);
      }
  })
});
</script>

{% endblock content %}
