{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Details on job {{job_id}}
{% endblock title %}

{% block content %}
<h1>Details on job {{job.job_name}} ({{job_id}})</h1>
<p><span class="badge badge-{{job.status_badge}}">{{job.status}}</span></p>
<div class="progress">
  {% if job.wallclock_animation  %}
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{job.status_badge}}" role="progressbar" aria-valuenow="{{job.wallclock_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.wallclock_progress}}%"></div>
  {% else %}
  <div class="progress-bar bg-{{job.status_badge}}" role="progressbar" aria-valuenow="{{job.wallclock_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.wallclock_progress}}%"></div>

  {% endif%}
</div>
<h2>Resources</h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Requested</th>
      <th scope="col">Used</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nodes</td>
      <td>{{tres_req.nb_nodes}}</td>
      <td></td>
    </tr>
    <tr>
      <td>CPU cores</td>
      <td>{{tres_req.total_cores}}</td>
      <td>{{cpu_used | floatformat:-2}}</td>
    </tr>
    <tr>
      <td>Memory</td>
      <td>{{tres_req.total_mem}} MiB</td>
      <td>{{mem_used | floatformat:0}} MiB</td>
    </tr>
{% if job.gpu_count > 0 %}
    <tr>
      <td>GPUs per node</td>
      <td>{{job.gpu_count}}x {{job.gpu_type}}</td>
      <td>Cycles: {{gpu_used | floatformat:-2 }}%, Memory: {{gpu_mem | floatformat:-2 }}%, Power: {{gpu_power | floatformat:-2 }}%</td>
    </tr>
{% endif %}
  </tbody>
</table>

{% if job.time_start_dt %}
<h2>Resources used (details)</h2>
<h3>CPU</h3>
<div id="graph_cpu"></div>
<h3>Memory</h3>
<div id="graph_mem"></div>
<h3>Filesystem</h3>
<div id="graph_lustre_mdt"></div>
<div id="graph_lustre_ost"></div>

{% if job.gpu_count > 0 %}
<h3>GPU</h3>
<h4>GPU Compute cycle used</h4>
<div id="graph_gpu_utilization"></div>
<h4>GPU Memory access cycle used</h4>
<div id="graph_gpu_memory_utilization"></div>
<h4>GPU Memory used</h4>
<div id="graph_gpu_memory"></div>
<h4>GPU Power</h4>
<div id="graph_gpu_power"></div>
<h4>GPU PCIe bandwidth</h4>
<div id="graph_gpu_pcie"></div>
{% endif %}

<script>
$.getJSON('graph/cpu.json', function(data){
  Plotly.newPlot('graph_cpu', data['lines']);
});

$.getJSON('graph/mem.json', function(data){
  Plotly.newPlot('graph_mem', data['lines'], data['layout']);
});

$.getJSON('graph/lustre_mdt.json', function(data){
  Plotly.newPlot('graph_lustre_mdt', data['lines'], data['layout']);
});

$.getJSON('graph/lustre_ost.json', function(data){
  Plotly.newPlot('graph_lustre_ost', data['lines'], data['layout']);
});

{% if job.gpu_count > 0 %}
$.getJSON('graph/gpu_utilization.json', function(data){
  Plotly.newPlot('graph_gpu_utilization', data['lines'], data['layout']);
});
$.getJSON('graph/gpu_memory_utilization.json', function(data){
  Plotly.newPlot('graph_gpu_memory_utilization', data['lines'], data['layout']);
});
$.getJSON('graph/gpu_memory.json', function(data){
  Plotly.newPlot('graph_gpu_memory', data['lines'], data['layout']);
});
$.getJSON('graph/gpu_power.json', function(data){
  Plotly.newPlot('graph_gpu_power', data['lines'], data['layout']);
});
$.getJSON('graph/gpu_pcie.json', function(data){
  Plotly.newPlot('graph_gpu_pcie', data['lines'], data['layout']);
});

{% endif %}

{% endif %}

</script>
{% endblock content %}
