{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Details on job" %} {{job_id}} {% endblock title %}

{% block content %}
{% include "notes_header.html" %}
{% if user.is_staff%}
  <p><a class="btn btn-primary" href="{{settings.BASE_URL}}secure/notes/new?username={{username}}&job_id={{job_id}}">{% translate "Create a new note" %}</a></p>
{% endif %}

{% if multiple_jobs %}
  <h2>{% translate "Jobs" %}</h2>
  <table id="jobs" class="table table-striped table-bordered" style="width:100%">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% translate "Job ID" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Submit time" %}</th>
        <th scope="col">{% translate "Queue time" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "End time" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td><a href="{{settings.BASE_URL}}secure/jobstats/{{username}}/{{job.id_job}}">{{job.id_job}}</a></td>
        <td>{{job.job_name}}</td>
        <td>{{job.time_submit_dt | date:"c"}}</td>
        <td>{{job.time_in_queue_dt}}</td>
        <td>
          {% if job.time_start_dt %}
            {{job.time_start_dt | date:"c"}}
          {% else %}
            {% translate "Not started" %}
          {% endif %}
        </td>
        <td>
          {% if job.time_end_dt %}
            {{job.time_end_dt | date:"c"}}
          {% else %}
            {% translate "Not finished" %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <h1>{% translate "Details on job" %} {{job.job_name | anonymize}} ({{job_id}}) {% if user.is_staff %} ({{username | anonymize}}){% endif %}</h1>
  <p><span class="badge badge-{{job.status_badge}}">{{job.status}}</span></p>
  <div class="progress">
    {% if job.time_start != 0 and job.time_end == 0 %}
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{job.status_badge}}" role="progressbar" aria-valuenow="{{job.wallclock_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.wallclock_progress}}%"></div>
    {% else %}
    <div class="progress-bar bg-{{job.status_badge}}" role="progressbar" aria-valuenow="{{job.wallclock_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.wallclock_progress}}%"></div>
    {% endif%}
  </div>

  {% if loaded_modules %}
    <h3>{% translate "Loaded modules" %}</h3>
    <ul class="list-group d-inline-block">
      {% for module in loaded_modules %}
      <li class="list-group-item d-flex justify-content-between align-items-center">{{module.name}}<span class="badge badge-primary badge-pill">{{module.version}}</span></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if comments or applications %}
    <h3>{% translate "Job analysis" %}</h3>
    <ul class="list-group">
      {% for comment in comments %}
      {% if comment.line_number %}
        {% if comment.url%}
          <li class="list-group-item {{comment.display_severity}}">{% translate "Line" %} {{comment.line_number}}: <a href="{{comment.url}}">{{comment.comment}}</a></li>
        {% else %}
          <li class="list-group-item {{comment.display_severity}}">{% translate "Line" %} {{comment.line_number}}: {{comment.comment}}</li>
        {% endif %}
      {% else %}
      {% if comment.url%}
          <li class="list-group-item {{comment.display_severity}}"><a href="{{comment.url}}">{{comment.comment}}</a></li>
        {% else %}
          <li class="list-group-item {{comment.display_severity}}">{{comment.comment}}</li>
        {% endif %}
      {% endif %}
      {% endfor %}

      {% for exe in applications %}
        <li class="list-group-item list-group-item-info">Application {{exe.name}} used {{exe.value | floatformat:1}} cores on average</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if job_script %}
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_job_script" aria-expanded="false" aria-controls="collapse_job_script">
        {% translate "Show submitted job script" %}
      </button>
    </p>
    <div class="collapse" id="collapse_job_script">
      <div class="card card-body">
        <pre><code class="language-bash">{{job_script.submit_script}}</code></pre>
      </div>
    </div>
  {% else %}
    <p>
      <button class="btn btn-secondary" type="button">
        {% translate "Submitted job script is not available" %}
      </button>
    </p>
  {% endif %}

  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_job_submit" aria-expanded="false" aria-controls="collapse_job_submit">
      {% translate "Show submit command" %}
    </button>
  </p>
  <div class="collapse" id="collapse_job_submit">
    <div class="card card-body">
      <pre>{% translate "Working directory" %}: <code class="language-bash">{{job.work_dir}}</code></pre>
      <pre>{% translate "Submit command" %}: <code class="language-bash">{{job.submit_line}}</code></pre>
    </div>
  </div>

  <h2>{% translate "Scheduler info" %}</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% translate "Account" %}</th>
        <th scope="col">{% translate "Submit time" %}</th>
        <th scope="col">{% translate "Queue time" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "End time" %}</th>
        <th scope="col">
          {% if job.time_start_dt %}
          <span data-toggle="tooltip" data-placement="top" title="{% translate "LevelFS at job start" %}">{% translate "Priority" %} <span data-feather="info"></span></span>
          {% else %}
          <span data-toggle="tooltip" data-placement="top" title="{% translate "Current LevelFS" %}">{% translate "Priority" %} <span data-feather="info"></span></span>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% if 'accountstats' in settings.INSTALLED_APPS %}
            <a href="{{settings.BASE_URL}}secure/accountstats/{{ job.account }}">{{job.account | anonymize}}
            </a>
          {% else %}
            {{job.account | anonymize}}
          {% endif %}
        </td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_submit_dt}}">{{job.time_submit_dt | naturaltime}} <span data-feather="info"></span></span></td>
        <td>{{job.time_in_queue_dt | naturaltime}}</td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_start_dt}}">{{job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_end_dt}}">{{job.time_end_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
        <td>{{priority}}</td>
      </tr>
    </tbody>
  </table>

  {% if dependencies %}
  <h2>{% translate "Job dependencies" %}</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% translate "Job" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "End time" %}</th>
        <th scope="col">{% translate "Type" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for dep in dependencies %}
      <tr>
        <td><a href="{{settings.BASE_URL}}secure/jobstats/{{username}}/{{dep.job.id_job}}">{{dep.job.id_job}}</a></td>
        <td><p><span class="badge badge-{{dep.job.status_badge}}">{{dep.job.status}}</span></p></td>
        <td>{{dep.job.job_name}}</td>
        <td>
          {% if dep.job.time_end_dt %}
            <span data-toggle="tooltip" data-placement="top" title="{{dep.job.time_end_dt}}">{{dep.job.time_end_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span>
          {% else %}
            {% translate "Not finished" %}
          {% endif %}
        </td>
        <td>{{dep.type}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if depends_on_this %}
  <h2>{% translate "Jobs that depend on this job" %}</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% translate "Job" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "Type" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for dep in depends_on_this %}
      <tr>
        <td><a href="{{settings.BASE_URL}}secure/jobstats/{{username}}/{{dep.job.id_job}}">{{dep.job.id_job}}</a></td>
        <td><p><span class="badge badge-{{dep.job.status_badge}}">{{dep.job.status}}</span></p></td>
        <td>{{dep.job.job_name}}</td>
        <td>
          {% if dep.job.time_start_dt %}
            <span data-toggle="tooltip" data-placement="top" title="{{dep.job.time_start_dt}}">{{dep.job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span>
          {% else %}
            {% translate "Not started" %}
          {% endif %}
        </td>
        <td>{{dep.type}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if array_jobs %}
  <h2>{% translate "Other jobs in the array" %}</h2>
  <p>{% translate "Pending tasks" %}: {{job.array_task_pending}}</p>
  <table class="table table-striped" id="array_jobs">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% translate "Job" %}</th>
        <th scope="col">{% translate "Task" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Name" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "End time" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for array_job in array_jobs %}
      <tr>
        <td><a href="{{settings.BASE_URL}}secure/jobstats/{{username}}/{{array_job.id_job}}">{{array_job.id_job}}</a></td>
        <td>{{array_job.id_array_task}}</td>
        <td><p><span class="badge badge-{{array_job.status_badge}}">{{array_job.status}}</span></p></td>
        <td>{{array_job.job_name}}</td>
        <td>
          {% if array_job.time_start_dt %}
            <span data-toggle="tooltip" data-placement="top" title="{{array_job.time_start_dt}}">{{array_job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span>
          {% else %}
            {% translate "Not started" %}
          {% endif %}
        </td>
        <td>
          {% if array_job.time_end_dt %}
            <span data-toggle="tooltip" data-placement="top" title="{{array_job.time_end_dt}}">{{array_job.time_end_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span>
          {% else %}
            {% translate "Not finished" %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <form id="jumpto">
    <div class="form-inline float-right">
      <input type="number" id="page" name="page" value="" placeholder="1" min="1">
      <button type="submit" class="btn btn-primary">{% translate "Jump to page" %}</button>
    </div>
  </form>
  {% endif %}

  {% if node_events %}
  <h2>{% translate "Node events" %}</h2>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% translate "Node" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "End time" %}</th>
        <th scope="col">{% translate "Duration" %}</th>
        <th scope="col">{% translate "Reason" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for node_event in node_events %}
      <tr>
        <td>{{node_event.node_name}}</td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{node_event.time_start_dt}}">{{node_event.time_start_dt | naturaltime}} <span data-feather="info"></span></span></td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{node_event.time_end_dt}}">{{node_event.time_end_dt | naturaltime}} <span data-feather="info"></span></span></td>
        <td>{{node_event.duration_dt | naturaltime}}</td>
        <td>{{node_event.reason}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endif %}

{% if multiple_jobs is False %}
<h2>{% translate "Resources" %}</h2>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{% translate "Type" %}</th>
      <th scope="col">{% translate "Allocated" %}</th>
      <th scope="col">{% translate "Used" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{% translate "Time" %}</td>
      <td>{{job.timelimit_display | default_if_none:'' }}</td>
      <td>{{job.used_time_display | default_if_none:'' }}</td>
    </tr>
    <tr>
      <td>{% translate "Nodes" %}</td>
      <td>{{nb_nodes}}</td>
      <td></td>
    </tr>
    <tr>
      <td>{% translate "CPU cores" %}</td>
      <td>{{tres_req.total_cores}}</td>
      <td>{{cpu_used | floatformat:-2}}</td>
    </tr>
    <tr>
      <td>{% translate "CPU cores by node" %}</td>
      <td>
        <ul class="list-unstyled">
          {% for node in cpu_bynode %}
            <li>{{node.name}}: {{node.count}}</li>
          {% endfor %}
        </ul>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>{% translate "Memory" %}</td>
      <td>{{total_mem | filesizeformat}} </td>
      <td>{{mem_used | filesizeformat}}</td>
    </tr>
    {% if gpu_count > 0 %}
    <tr>
      <td>{% translate "GPUs per node" %}</td>
      <td>{{gpu_count}}x {{job.gpu_type}}</td>
      <td>{% translate "Cycles" %}: {{gpu_used | floatformat:-2 }}%, {% translate "Memory" %}: {{gpu_mem | floatformat:-2 }}%, {% translate "Power" %}: {{gpu_power | floatformat:-2 }}%</td>
    </tr>
    {% endif %}

  {% if job.time_start_dt %}
    {% if 'redfish_exporter' in settings.EXPORTER_INSTALLED %}
      <tr>
        <td>{% translate "Energy" %}</td>
        <td></td>
        <td>
          <div id="energy">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
      </tr>
      {% if ELECTRIC_CAR_RANGE_KM_PER_KWH %}
        <tr>
          <td>{% translate "Electric car range equivalent" %}</td>
          <td></td>
          <td>
            <div id="car_range">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
      {% if CO2_KG_PER_MWH %}
        <tr>
          <td>{% translate "CO2 emissions" %}</td>
          <td></td>
          <td>
            <div id="co2">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
      {% if CPU_CORE_COST_PER_HOUR or GPU_COST_PER_HOUR%}
        <tr>
          <td>{% translate "Internal cost" %}</td>
          <td></td>
          <td>
            <div id="cost">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </td>
        </tr>
      {% endif %}
    {% endif %}
    {% if CLOUD_CPU_CORE_COST_PER_HOUR or CLOUD_GPU_COST_PER_HOUR %}
      <tr>
        <td>{% translate "Cloud cost equivalent" %}</td>
        <td></td>
        <td>
          <div id="cloud">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
      </tr>
    {% endif %}
  {% endif %}
  </tbody>
</table>
{% endif %}

{% if job.time_start_dt %}
  <h2>{% translate "Resources used (details)" %}</h2>
  <div id="cpu" class="card {{graph_div.cpu}}">
    <div class="card-body">
      <h3 class="card-title">{% translate "CPU" %}</h3>
      <p class="card-text">
        <div>
          <p>{% translate "Ratio of cycles consumed on each CPU core by all processes in this job. This graph should be all filled up most of the time, if not, you can lower the cores requested to the scheduler. Unused cycles does not improve your job performance and will lower your priority when cores are wasted." %}</p>
          <div id="graph_cpu"></div>
        </div>
      </p>
    </div>
  </div>

  <div id="mem" class="card {{graph_div.mem}}">
    <div class="card-body">
      <h3 class="card-title">{% translate "Memory" %}</h3>
      <p class="card-text">
        <div>
          <p>{% translate "The max used memory should be close to the allocated memory. If the memory is not used by the job, ask a lower amount, your jobs will be able to start faster. Unused memory does not increase your job performance." %}</p>

          <div class="accordion" id="accordionMemLegend">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseMemLegend" aria-expanded="false" aria-controls="collapseMemLegend">
                    {% translate "Graph legend and explanation" %}
                  </button>
                </h2>
              </div>
          
              <div id="collapseMemLegend" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMemLegend">
                <div class="card-body text-body">
                  <dl>
                    <dt>{% translate "Allocated" %}</dt>
                    <dd>{% translate "Memory allocated by the scheduler and enforced for the job" %}</dd>
                    <dt>{% translate "Max used" %}</dt>
                    <dd>{% translate "Maximum recorded during the job. This is not using samples and is measured by the kernel, so this will catch large allocations that only last for a fraction of a second" %}</dd>
                    <dt>{% translate "Used" %}</dt>
                    <dd>{% translate "Memory being used by the job. Include the memory of the items below" %}</dd>
                    <dt>{% translate "Cache" %}</dt>
                    <dd>{% translate "Page cache memory, this memory is used to cache data recently read from the filesystem" %}</dd>
                    <dt>{% translate "RSS (Resident Set Size)" %}</dt>
                    <dd>{% translate "Memory allocated to the processes in ram. It include memory from the program itself, shared libraries, stack and heap. (includes transparent hugepages)" %}</dd>
                    <dt>{% translate "RSS Huge" %}</dt>
                    <dd>{% translate "Some application can use <a href=\"https://www.kernel.org/doc/Documentation/vm/hugetlbpage.txt\">hugepages</a>" %}</dd>
                    <dt>{% translate "Memory mapped file" %}</dt>
                    <dd>{% translate "Memory mapped file (includes tmpfs/shmem and <a href=\"https://man7.org/linux/man-pages/man2/mmap.2.html\">mmap</a>)" %}</dd>
                    <dt>{% translate "Active file" %}</dt>
                    <dd>{% translate "File-backed memory on active LRU list" %}</dd>
                    <dt>{% translate "Inactive" %}</dt>
                    <dd>{% translate "File-backed memory on inactive LRU list. This memory would be the first to be swapped out if swap is enabled" %}</dd>
                    <dt>{% translate "Unevictable" %}</dt>
                    <dd>{% translate "Memory that cannot be reclaimed (mlocked etc). It can be used by cryptography to prevent memory containing keys from being swapped out" %}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
          <div id="graph_mem"></div>
        </div>
      </p>
    </div>
  </div>

  <div id="thread" class="card {{graph_div.thread}}">
    <div class="card-body">
      <h3 class="card-title">{% translate "Processes and threads" %}</h3>
      <p class="card-text">
        <div>
          <p>{% translate "The number of processes and threads used in the job." %}</p>
          <div id="graph_thread"></div>
        </div>
      </p>
    </div>
  </div>

  {% if 'lustre_exporter' in settings.EXPORTER_INSTALLED %}
  <div id="fs" class="card {{graph_div.fs}}">
    <div class="card-body">
      <h3 class="card-title">{% translate "Filesystem" %}</h3>
      <p class="card-text">
        <div>
          <p>{% translate "The filesystem usage of the job. This is the filesystem usage of the job, not the whole node." %}</p>
          <div class="row">
            <div class="col-sm-6">
              <div id="graph_lustre_mdt"></div>
            </div>
            <div class="col-sm-6">
              <div id="graph_lustre_ost"></div>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>
  {% endif %}

  {% if 'pcm-sensor-server' in settings.EXPORTER_INSTALLED %}
  <div class="row">
    <div class="col-sm-6">
      <div id="l2" class="card {{graph_div.l2}}">
        <div class="card-body">
          <h3 class="card-title">{% translate "L2 cache hit rate" %}</h3>
          <p class="card-text">
            <div>
              <div id="graph_l2_rate"></div>
            </div>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="l3" class="card {{graph_div.l3}}">
        <div class="card-body">
          <h3 class="card-title">{% translate "L3 cache hit rate" %}</h3>
          <p class="card-text">
            <div>
              <div id="graph_l3_rate"></div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="ipc" class="card {{graph_div.ipc}}">
    <div class="card-body">
      <h3 class="card-title">{% translate "Instructions per cycle" %}</h3>
      <p class="card-text">
        <div>
          <div id="graph_ipc"></div>
        </div>
      </p>
    </div>
  </div>
  {% endif %}

  {% if gpu_count > 0 %}
    <h3>{% translate "GPU" %}</h3>
    <div id="gpu_utilization" class="card {{graph_div.gpu_utilization}}">
      <div class="card-body">
        <h3 class="card-title">{% translate "GPU Compute cycle used" %}</h3>
        <p class="card-text">
          <div>
            <div class="accordion" id="accordionGpuLegend">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseGpuLegend" aria-expanded="false" aria-controls="collapseGpuLegend">
                      {% translate "Graph legend and explanation" %}
                    </button>
                  </h2>
                </div>
            
                <div id="collapseGpuLegend" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGpuLegend">
                  <div class="card-body text-body">
                    <dl>
                      <dt>{% translate "SM Active" %}</dt>
                      <dd>{% translate "The % of cycles an Streaming Multiprocessor (SM) has at least 1 <a href=\"https://developer.nvidia.com/blog/using-cuda-warp-level-primitives/\">warp</a> assigned" %}</dd>
                      <dt><a href="https://docs.nvidia.com/gameworks/content/developertools/desktop/analysis/report/cudaexperiments/kernellevel/achievedoccupancy.htm">{% translate "SM Occupancy" %}</a></dt>
                      <dd>{% translate "The % of number of warps resident on an SM" %}</dd>
                      <dt>{% translate "Tensor" %}</dt>
                      <dd>{% translate "The % of cycles the <a href=\"https://developer.nvidia.com/tensor-cores\">tensor</a> (HMMA) pipe is active" %}</dd>
                      <dt>{% translate "FP64/32/16" %}</dt>
                      <dd>{% translate "The % of cycles the floating point 64/32/16 pipe is active" %}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div id="graph_gpu_utilization"></div>
          </div>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div id="gpu_memory" class="card {{graph_div.gpu_memory}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "GPU Memory used" %}</h3>
            <p class="card-text">
              <div>
                <div id="graph_gpu_memory"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="gpu_memory_utilization" class="card {{graph_div.gpu_memory_utilization}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "GPU Memory access cycle used" %}</h3>
            <p class="card-text">
              <div>
                <p>{% translate "The ratio of cycles the device memory interface is active sending or receiving data" %}</p>
                <div id="graph_gpu_memory_utilization"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="gpu_power" class="card {{graph_div.gpu_power}}">
      <div class="card-body">
        <h3 class="card-title">{% translate "GPU Power" %}</h3>
        <p class="card-text">
          <div>
            <div id="graph_gpu_power"></div>
          </div>
        </p>
      </div>
    </div>

    <div class="row">
      {% if gpu_count > 1 %}
      <div class="col-sm-6">
      {% else %}
      <div>
      {% endif %}
        <div id="gpu_pcie" class="card {{graph_div.gpu_pcie}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "GPU PCIe bandwidth" %}</h3>
            <p class="card-text">
              <p>{% translate "Note that this is from the perspective of the GPU" %}</p>
              <div>
                <div id="graph_gpu_pcie"></div>
              </div>
            </p>
          </div>
        </div>
      </div>

      {% if gpu_count > 1 %}
      <div class="col-sm-6">
        <div id="gpu_nvlink" class="card {{graph_div.gpu_nvlink}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "GPU Nvlink bandwidth" %}</h3>
            <p class="card-text">
              <p>{% translate "Note that this is from the perspective of the GPU" %}</p>
              <div>
                <div id="graph_gpu_nvlink"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}

  {% if 'node_exporter' in settings.EXPORTER_INSTALLED and multiple_jobs is False %}
    <h2>{% translate "Whole node resources" %}</h2>
    <p>{% translate "Those stats are not accurate when the node is shared with multiple users" %}</p>

    <div class="row">
      <div class="col-sm-6">
        <div id="ethernet" class="card {{graph_div.ethernet}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "Ethernet" %}</h3>
            <p class="card-text">
              <div>
                <div id="graph_ethernet_bdw"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="infiniband" class="card {{graph_div.infiniband}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "Infiniband" %}</h3>
            <p class="card-text">
              <div>
                <div id="graph_infiniband_bdw"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div id="disk_iops" class="card {{graph_div.disk_iops}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "Localscratch IOPS" %}</h3>
            <p class="card-text">
              <div>
                <div id="graph_disk_iops"></div>
              </div>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div id="disk_bdw" class="card {{graph_div.disk_bdw}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "Localscratch bandwidth" %}</h3>
            <p class="card-text">
              <div >
                <div id="graph_disk_bdw"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="disk_used" class="card {{graph_div.disk_used}}">
      <div class="card-body">
        <h3 class="card-title">{% translate "Localscratch space used" %}</h3>
        <p class="card-text">
          <div>
            <div id="graph_disk_used"></div>
          </div>
        </p>
      </div>
    </div>

    {% if 'pcm-sensor-server' in settings.EXPORTER_INSTALLED %}
    <div class="row">
      <div class="col-sm-6">
        <div id="memory_bdw" class="card {{graph_div.memory_bdw}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "Memory bandwidth" %}</h3>
            <p class="card-text">
              <div>
                <div id="graph_mem_bdw"></div>
              </div>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div id="cpu_interconnect" class="card {{graph_div.cpu_interconnect}}">
          <div class="card-body">
            <h3 class="card-title">{% translate "CPU interconnect bandwidth" %}</h3>
            <p class="card-text">
              <div>
                <div id="graph_cpu_interconnect"></div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
    {% if 'redfish_exporter' in settings.EXPORTER_INSTALLED %}
    <div id="power" class="card {{graph_div.power}}">
      <div class="card-body">
        <h3 class="card-title">{% translate "Power used" %}</h3>
        <p class="card-text">
          <div>
            <div id="graph_power"></div>
          </div>
        </p>
      </div>
    </div>
    {% endif %}
  {% endif %}

  {% include "notes.js" %}

  <script>
  loadGraph('graph_cpu', 'graph/cpu.json');
  loadGraph('graph_mem', 'graph/mem.json');
  loadGraph('graph_thread', 'graph/thread.json');
  {% if 'lustre_exporter' in settings.EXPORTER_INSTALLED %}
    loadGraph('graph_lustre_mdt', 'graph/lustre_mdt.json');
    loadGraph('graph_lustre_ost', 'graph/lustre_ost.json');
  {% endif %}

  {% if 'pcm-sensor-server' in settings.EXPORTER_INSTALLED %}
    loadGraph('graph_l2_rate', 'graph/l2_rate.json');
    loadGraph('graph_l3_rate', 'graph/l3_rate.json');
    loadGraph('graph_ipc', 'graph/ipc.json');
  {% endif %}

  {% if gpu_count > 0 %}
    loadGraph('graph_gpu_utilization', 'graph/gpu_utilization.json');
    loadGraph('graph_gpu_memory_utilization', 'graph/gpu_memory_utilization.json');
    loadGraph('graph_gpu_memory', 'graph/gpu_memory.json');
    loadGraph('graph_gpu_power', 'graph/gpu_power.json');
    loadGraph('graph_gpu_pcie', 'graph/gpu_pcie.json');
    {% if gpu_count > 1 %}
    loadGraph('graph_gpu_nvlink', 'graph/gpu_nvlink.json');
    {% endif %}
  {% endif %}

  {% if 'node_exporter' in settings.EXPORTER_INSTALLED and multiple_jobs is False %}
    loadGraph('graph_infiniband_bdw', 'graph/infiniband_bdw.json');
    loadGraph('graph_ethernet_bdw', 'graph/ethernet_bdw.json');
    loadGraph('graph_disk_iops', 'graph/disk_iops.json');
    loadGraph('graph_disk_bdw', 'graph/disk_bdw.json');
    loadGraph('graph_disk_used', 'graph/disk_used.json');
  
    {% if 'pcm-sensor-server' in settings.EXPORTER_INSTALLED %}
      loadGraph('graph_mem_bdw', 'graph/mem_bdw.json');
      loadGraph('graph_cpu_interconnect', 'graph/cpu_interconnect.json');
    {% endif %}

    {% if 'redfish_exporter' in settings.EXPORTER_INSTALLED %}
      loadGraph('graph_power', 'graph/power.json');
    {% endif %}
  {% endif %}

  hljs.highlightAll();

  hljs.initLineNumbersOnLoad();

  luxon.Settings.defaultLocale = "{{LANGUAGE_CODE}}"; // Luxon autodetect seems broken

  function parse_time(data, type) {
    if (data == null) {
      return '-';
    }
    if (type == 'display') {
      var t = DateTime.fromISO(data);
      if (t.isValid) {
        return t.toLocaleString(DateTime.DATETIME_MED);
      }
      else {
        return data;
      }
    }
    return data;
  }

  {% if multiple_jobs %}
  $(document).ready(function() {
    $('#jobs').DataTable({
      columns: [
        {},
        {},
        {render: parse_time},
        {},
        {render: parse_time},
        {render: parse_time},
      ]
    });
  });
  {% endif %}

  {% if array_jobs %}
  $(document).ready(function() {
    $('#array_jobs').DataTable({
      columns: [
        {},
        {},
        {},
        {},
        {render: parse_time},
        {render: parse_time},
      ]
    });

    $('#jumpto').on('submit', function(e) {
      e.preventDefault();
      $('#array_jobs').DataTable().page($('#page').val() - 1).draw('page');
    });
  });
  {% endif %}
  </script>
  {% if multiple_jobs is False %}
  <script src="{% static 'jobstats/job.js' %}"></script>
  {% endif %}
{% endif %}
{% endblock content %}
