{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ settings.CLUSTER_NAME_TITLE }} - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="icon" type="image/png" href="{{ settings.FAVICON }}">
    <link href="{% static '/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/theme.min.css" integrity="sha512-hbs/7O+vqWZS49DulqH1n2lVtu63t3c3MTAn0oYMINS5aT8eIAbJGDXgLt6IxDHcWyzVTgf9XyzZ9iWyVQ7mCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css" integrity="sha512-3xLMEigMNYLDJLAgaGlDSxpGykyb+nQnJBzbkQy2a0gyVKL2ZpNOPIj1rD8IPFaJbwAgId/atho1+LBpWu5DhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-2.8.3.min.js" integrity="sha384-zr60hUCjkFUAnEpigusE7X26aChBWd9sBNDUEGzfUm4jCOSrlAsKh42wJp4KPFaQ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.1/luxon.min.js" integrity="sha512-6ZJuab/UnRq1muTChgrVxJhSgygmL2GMLVmSJN7pcBEqJ1dWPbqN9CiZ6U3HrcApTIJsLnMgXYBYgtVkJ8fWiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.27.2/humanize-duration.min.js" integrity="sha512-9319lwRUPu4ggdDFT8UY3WpbWdPt72YY6wiLcDG/ofJc1Ozmi8U/rBrNe6+fI84LD/gF9iwg3C48Ex22S3iyDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/filesize/9.0.11/filesize.min.js" integrity="sha512-Q99ssTH2StMYLx9nyHjpfeP09l9MKruO1zIMrKpXhXJ3t382mn5bRqVNOTe3Cqb9srZBM73CjA6qONK2zmyptw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js" integrity="sha512-Pbb8o120v5/hN/a6LjF4N4Lxou+xYZ0QcVF8J6TWhBbHmctQWd8O6xTDmHpE/91OjPzCk4JRoiJsexHYg4SotQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/bash.min.js" integrity="sha512-HIFqAH4BgdlJE3A1Uoyl6weoDR1WtdufmKBPWtemvTI+12lrV5dfPR5ekvJaePkq6w+zuPAek2X2hHxo/T5kag==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js" integrity="sha512-axd5V66bnXpNVQzm1c7u1M614TVRXXtouyWCE+eMYl8ALK8ePJEs96Xtx7VVrPBc0UraCn63U1+ARFI3ofW+aA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static '/custom.js' %}"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">{{ settings.CLUSTER_NAME_TITLE }}</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav px-3">
        {% if user.is_authenticated %}
          <li class="nav-item text-nowrap">
            <a class="nav-link">{{ user.get_full_name }} ({{user.username}})</a>
          </li>
        {% comment %}
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/Shibboleth.sso/Logout">{% translate "Logout" %}</a>
        </li>
        {% endcomment %}
        {% endif %}
      </ul>
    </nav>
    
    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}">
                  <span data-feather="home"></span>{% translate "Home" %}
                </a>
              </li>
              {% if request.user.is_staff and 'search' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/search">
                  <span data-feather="search"></span>{% translate "Search" %}
                </a>
              </li>
              {% endif %}
              {% if 'usersummary' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/usersummary/">
                  <span data-feather="user"></span>{% translate "User summary" %}
                </a>
              </li>
              {% endif %}
              {% if 'jobstats' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/jobstats/">
                  <span data-feather="activity"></span>{% translate "Job stats" %}
                </a>
              </li>
              {% endif %}
              {% if 'accountstats' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/accountstats/">
                  <span data-feather="users"></span>{% translate "Account stats" %}
                </a>
              </li>
              {% endif %}
              {% if 'quotas' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/quotas/">
                  <span data-feather="hard-drive"></span>{% translate "Filesystem quotas" %}
                </a>
              </li>
              {% endif %}
              {% if 'quotasgpfs' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/quotasgpfs/">
                  <span data-feather="hard-drive"></span>{% translate "Filesystem quotas" %}
                </a>
              </li>
              {% endif %}
              {% if 'cloudstats' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/cloudstats/">
                  <span data-feather="cloud"></span>{% translate "Cloud stats" %}
                </a>
              </li>
              {% endif %}
              {% if request.user.is_staff and 'top' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/top/">
                  <span data-feather="award"></span>{% translate "Top" %}
                </a>
              </li>
              {% endif %}
              {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{{settings.BASE_URL}}secure/notes/">
                  <span data-feather="edit"></span>{% translate "Notes" %}
                </a>
              </li>
              {% endif %}

              {% if settings.EXTERNAL_LINKS %}
              <li class="nav-item">
                <a class="nav-link disabled">External links <span data-feather="corner-right-down"></a>
              </li>
              {% for link in settings.EXTERNAL_LINKS %}
              <li class="nav-item">
                <a class="nav-link" href="{{ link.url }}"><span data-feather="{{ link.icon }}"></span>{{ link.name }}</a>
              </li>
              {% endfor %}
              {% endif %}

              {% if settings.OTHER_PORTALS %}
              <li class="nav-item">
                <a class="nav-link disabled">Other portals <span data-feather="corner-right-down"></a>
              </li>
              {% for link in settings.OTHER_PORTALS %}
              <li class="nav-item">
                {% if link.path %}
                <a class="nav-link" href="{{ link.url }}{{ request.path }}"><span data-feather="external-link"></span>{{ link.name }}</a>
                {% else %}
                <a class="nav-link" href="{{ link.url }}"><span data-feather="external-link"></span>{{ link.name }}</a>
                {% endif %}
              </li>
              {% endfor %}
              {% endif %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% translate "User portal" %}</h1>
          </div>
{% block content %}
{% endblock %}
        </main>
      </div>
    </div>
    <script>
      feather.replace()
      var DateTime = luxon.DateTime;

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
    </script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>

