{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ settings.CLUSTER_NAME_TITLE }} - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="icon" type="image/png" href="{{ settings.FAVICON }}">
    <link href="{% static '/dashboard.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-2.8.3.min.js" integrity="sha384-zr60hUCjkFUAnEpigusE7X26aChBWd9sBNDUEGzfUm4jCOSrlAsKh42wJp4KPFaQ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.1/luxon.min.js" integrity="sha512-6ZJuab/UnRq1muTChgrVxJhSgygmL2GMLVmSJN7pcBEqJ1dWPbqN9CiZ6U3HrcApTIJsLnMgXYBYgtVkJ8fWiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.27.2/humanize-duration.min.js" integrity="sha512-9319lwRUPu4ggdDFT8UY3WpbWdPt72YY6wiLcDG/ofJc1Ozmi8U/rBrNe6+fI84LD/gF9iwg3C48Ex22S3iyDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/custom.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">{{ settings.CLUSTER_NAME_TITLE }}</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav px-3">
        {% if user.is_authenticated %}
          <li class="nav-item text-nowrap">
            <a class="nav-link">{{ user.get_full_name }} ({{user.username}})</a>
          </li>
        {% comment %}
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/Shibboleth.sso/Logout">{% translate "Logout" %}</a>
        </li>
        {% endcomment %}
        {% endif %}
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="home"></span>
                  {% translate "Home" %}<span class="sr-only"></span>
                </a>
              </li>
              {% if 'usersummary' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="/secure/usersummary/">
                  <span data-feather="user"></span>
                  {% translate "User summary" %}<span class="sr-only"></span>
                </a>
              </li>
              {% endif %}
              {% if 'jobstats' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="/secure/jobstats/">
                  <span data-feather="activity"></span>
                  {% translate "Job stats" %}<span class="sr-only"></span>
                </a>
              </li>
              {% endif %}
              {% if 'accountstats' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="/secure/accountstats/">
                  <span data-feather="users"></span>
                  {% translate "Account stats" %}<span class="sr-only"></span>
                </a>
              </li>
              {% endif %}
              {% if 'quotas' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="/secure/quotas/">
                  <span data-feather="hard-drive"></span>
                  {% translate "Filesystem quotas" %}<span class="sr-only"></span>
                </a>
              </li>
              {% endif %}
              {% if 'cloudstats' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="/secure/cloudstats/">
                  <span data-feather="cloud"></span>
                  {% translate "Cloud stats" %}<span class="sr-only"></span>
                </a>
              </li>
              {% endif %}
              {% if request.user.is_staff and 'top' in settings.INSTALLED_APPS %}
              <li class="nav-item">
                <a class="nav-link" href="/secure/top/">
                  <span data-feather="award"></span>
                  {% translate "Top" %}<span class="sr-only"></span>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% translate "User portal" %}</h1>
          </div>
{% block content %}
{% endblock %}
        </main>
      </div>
    </div>
    <script>
      feather.replace()
      var DateTime = luxon.DateTime;

$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
    </script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  </body>
</html>

