{% load i18n %}

{% if user.is_staff %}
<h1>{% translate "Internal notes" %}</h1>

{% for note in notes %}
  <div class="card border-primary">
    <div class="card-header">
      {% if note.job_id %}
        <a href="{{ note.get_absolute_url }}">{{ note.title }}</a> <a href="{{settings.BASE_URL}}secure/jobstats/{{note.username}}/{{ note.job_id }}"> ({{ note.job_id }})</a> - <span class="utc_date">{{ note.modified_at | date:"c" }}</span>
      {% else %}
        {{ note.title }} - <span class="utc_date">{{ note.modified_at | date:"c" }}</span>
      {% endif %}
    </div>
    <div class="card-body">
      <p class="card-text">{{ note.notes | linebreaks}}</p>
    </div>
  </div>
{% empty %}
  <p>{% translate "No notes found." %}</p>
{% endfor %}
{% endif %}