{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% translate "Your account use" %}
{% endblock title %}

{% block content %}
<h1>{% translate "Your account use" %}</h1>
{% if gpu %}
<p>{{gpu_count}} GPUs were allocated by the RAC process</p>
{% else %}
<p>{{cpu_count}} CPUs were allocated by the RAC process</p>
{% endif %}

<p>A priority under 1 means you were previously using more resources than allocated during the RAC. Your new jobs are now launched at a lower priority to let the other user catch up their fair share.</p>
<p>A priority above 1 means you were not using the cluster as much as you were allocated during the RAC. Your new jobs are now launched at a higher priority to catch up your fair share.</p>

{% if gpu %}
<div id="graph_gpu_priority"></div>
{% else %}
<div id="graph_cpu_priority"></div>
{% endif %}
<h2>{% translate "Detailed utilization by user" %}</h2>

{% if gpu %}
<h2>{% translate "GPUs" %}</h2>
<h3>{% translate "Allocated GPUs" %}</h3>
<div id="graph_gpu_allocated"></div>
<h3>{% translate "Used GPUs" %}</h3>
<div id="graph_gpu_used"></div>
<h3>{% translate "Wasted GPUs" %}</h3>
<div id="graph_gpu_wasted"></div>
{% endif %}

<h3>{% translate "Allocated CPU cores" %}</h3>
<div id="graph_cpu_allocated"></div>
<h3>{% translate "Used CPU cores" %}</h3>
<div id="graph_cpu_used"></div>
<h3>{% translate "Wasted CPU cores" %}</h3>
<div id="graph_cpu_wasted"></div>

<h2>{% translate "Memory" %}</h2>
<h3>{% translate "Allocated memory" %}</h3>
<div id="graph_mem_allocated"></div>
<h3>{% translate "Used memory" %}</h3>
<div id="graph_mem_used"></div>
<h3>{% translate "Wasted memory" %}</h3>
<div id="graph_mem_wasted"></div>

<h2>{% translate "Filesystem" %}</h2>
<div id="graph_lustre_mdt"></div>
<div id="graph_lustre_ost"></div>

<script>
{% if gpu %}
loadGraph('graph_gpu_priority', 'graph/gpu_priority.json');
{% else %}
loadGraph('graph_cpu_priority', 'graph/cpu_priority.json');
{% endif %}

{% if gpu %}
loadGraph('graph_gpu_allocated', 'graph/gpu_allocated.json');
loadGraph('graph_gpu_used', 'graph/gpu_used.json');
loadGraph('graph_gpu_wasted', 'graph/gpu_wasted.json');
{% endif %}

loadGraph('graph_cpu_allocated', 'graph/cpu_allocated.json');
loadGraph('graph_cpu_used', 'graph/cpu_used.json');
loadGraph('graph_cpu_wasted', 'graph/cpu_wasted.json');

loadGraph('graph_mem_allocated', 'graph/mem_allocated.json');
loadGraph('graph_mem_used', 'graph/mem_used.json');
loadGraph('graph_mem_wasted', 'graph/mem_wasted.json');

loadGraph('graph_lustre_mdt', 'graph/lustre_mdt.json');
loadGraph('graph_lustre_ost', 'graph/lustre_ost.json');

</script>

{% endblock content %}
