{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block title %}{% translate "Your account use" %}{% endblock title %}

{% block content %}
<h1>{% translate "Your account use" %}</h1>
{% if gpu %}
<p>{{gpu_count}} {% translate "GPUs were allocated" %}</p>
{% else %}
<p>{{cpu_count}} {% translate "CPUs were allocated" %}</p>
{% endif %}

<p>{% translate "A priority under 1 means you were previously using more resources than allocated. Your new jobs are now launched at a lower priority to let the other user catch up their fair share." %}</p>
<p>{% translate "A priority above 1 means you were not using the cluster as much as you were allocated. Your new jobs are now launched at a higher priority to catch up your fair share." %}</p>

{% if gpu %}
<div id="graph_gpu_priority"></div>
{% else %}
<div id="graph_cpu_priority"></div>
{% endif %}
<h2>{% translate "Detailed utilization by user" %}</h2>

{% if gpu %}
<h2>{% translate "GPUs" %}</h2>
<h3>{% translate "Allocated GPUs" %}</h3>
<div id="graph_gpu_allocated"></div>
<h3>{% translate "Used GPUs" %}</h3>
<div id="graph_gpu_used"></div>
<h3>{% translate "Wasted GPUs" %}</h3>
<div id="graph_gpu_wasted"></div>
{% endif %}

<h3>{% translate "Allocated CPU cores" %}</h3>
<div id="graph_cpu_allocated"></div>
<h3>{% translate "Used CPU cores" %}</h3>
<div id="graph_cpu_used"></div>
<h3>{% translate "Wasted CPU cores" %}</h3>
<div id="graph_cpu_wasted"></div>

<h2>{% translate "Memory" %}</h2>
<h3>{% translate "Allocated memory" %}</h3>
<div id="graph_mem_allocated"></div>
<h3>{% translate "Used memory" %}</h3>
<div id="graph_mem_used"></div>
<h3>{% translate "Wasted memory" %}</h3>
<div id="graph_mem_wasted"></div>

<h2>{% translate "Filesystem" %}</h2>
<div id="graph_lustre_mdt"></div>
<div id="graph_lustre_ost"></div>

<h2>{% translate "Jobs running with your account" %}</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col">{% translate "Username" %}</th>
        <th scope="col">{% translate "Job ID" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Job name" %}</th>
        <th scope="col">{% translate "Submit time" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "End time" %}</th>
        <th scope="col">{% translate "Asked time" %}</th>
        <th scope="col">{% translate "Used time" %}</th>
    </tr>
  </thead>
  <tbody>
{% for job in jobs %}
    <tr>
        <th scope="row"><a href="/secure/jobstats/{{job.username}}">{{job.username}}</a></a></th>
        <th scope="row"><a href="/secure/jobstats/{{job.username}}/{{job.id_job}}">{{job.id_job}}</a></th>
        <td><span class="badge badge-{{job.status_badge}}">{{job.status}}</span></td>
        <td>{{job.job_name}}</td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_submit_dt}}">{{job.time_submit_dt | naturaltime}} <span data-feather="info"></span></span></td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_start_dt}}">{{job.time_start_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
        <td><span data-toggle="tooltip" data-placement="top" title="{{job.time_end_dt}}">{{job.time_end_dt | default_if_none:'' | naturaltime}} <span data-feather="info"></span></span></td>
        <td>{{job.timelimit_display | default_if_none:'' }}</td>
        <td>{{job.used_time_display | default_if_none:'' }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% bootstrap_paginate jobs range=10 extra_pagination_classes="justify-content-center" %}

<script>
{% if gpu %}
loadGraph('graph_gpu_priority', 'graph/gpu_priority.json');
{% else %}
loadGraph('graph_cpu_priority', 'graph/cpu_priority.json');
{% endif %}

{% if gpu %}
loadGraph('graph_gpu_allocated', 'graph/gpu_allocated.json');
loadGraph('graph_gpu_used', 'graph/gpu_used.json');
loadGraph('graph_gpu_wasted', 'graph/gpu_wasted.json');
{% endif %}

loadGraph('graph_cpu_allocated', 'graph/cpu_allocated.json');
loadGraph('graph_cpu_used', 'graph/cpu_used.json');
loadGraph('graph_cpu_wasted', 'graph/cpu_wasted.json');

loadGraph('graph_mem_allocated', 'graph/mem_allocated.json');
loadGraph('graph_mem_used', 'graph/mem_used.json');
loadGraph('graph_mem_wasted', 'graph/mem_wasted.json');

loadGraph('graph_lustre_mdt', 'graph/lustre_mdt.json');
loadGraph('graph_lustre_ost', 'graph/lustre_ost.json');

</script>

{% endblock content %}
