{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Account use of" %} {{ account }}{% endblock title %}

{% block content %}
{% include "notes_header.html" %}
{% if user.is_staff%}
<p><a class="btn btn-primary" href="/secure/notes/new?account={{account}}">{% translate "Create a new note" %}</a></p>
{% endif %}

<h1>{% translate "Account use of" %} {{ account }}</h1>
<div class="card">
  <div class="card-body">
    <div class="card-text">
      <p>{% translate "A priority under 1 means you were previously using more resources than allocated. Your new jobs are now launched at a lower priority to let the other user catch up their fair share." %}</p>
      <p>{% translate "A priority above 1 means you were not using the cluster as much as you were allocated. Your new jobs are now launched at a higher priority to catch up your fair share." %}</p>
{% if gpu %}
      <p>{{gpu_count}} {% translate "GPUs were allocated" %}</p>
      <div id="graph_gpu_priority"></div>
{% else %}
      <p>{{cpu_count}} {% translate "CPUs were allocated" %}</p>
      <div id="graph_cpu_priority"></div>
{% endif %}
    </div>
  </div>
</div>

<h2>{% translate "Detailed utilization by user" %}</h2>

{% if gpu %}
<h2>{% translate "GPUs" %}</h2>
<div class="row">
  <div class="card col-md-6">
    <div class="card-body">
      <h5 class="card-title">{% translate "Allocated GPUs" %}</h5>
      <p class="card-text"><div id="graph_gpu_allocated"></div></p>
    </div>
  </div>
  <div class="card col-md-6">
    <div class="card-body">
      <h5 class="card-title">{% translate "Used GPUs" %}</h5>
      <p class="card-text"><div id="graph_gpu_used"></div></p>
    </div>
  </div>
  <div class="card col-md-12">
    <div class="card-body">
      <h5 class="card-title">{% translate "Wasted GPUs" %}</h5>
      <p class="card-text"><div id="graph_gpu_wasted"></div></p>
    </div>
  </div>
</div>
{% endif %}

<h2>{% translate "CPUs" %}</h2>
<div class="row">
  <div class="card col-md-6">
    <div class="card-body">
      <h3 class="card-title">{% translate "Allocated CPU cores" %}</h3>
      <p class="card-text"><div id="graph_cpu_allocated"></div></p>
    </div>
  </div>
  <div class="card col-md-6">
    <div class="card-body">
      <h3 class="card-title">{% translate "Used CPU cores" %}</h3>
      <p class="card-text"><div id="graph_cpu_used"></div></p>
    </div>
  </div>
  <div class="card col-md-12">
    <div class="card-body">
      <h3 class="card-title">{% translate "Wasted CPU cores" %}</h3>
      <p class="card-text"><div id="graph_cpu_wasted"></div></p>
    </div>
  </div>
</div>

<h2>{% translate "Memory" %}</h2>
<div class="row">
  <div class="card col-md-6">
    <div class="card-body">
      <h3 class="card-title">{% translate "Allocated memory" %}</h3>
      <p class="card-text"><div id="graph_mem_allocated"></div></p>
    </div>
  </div>
  <div class="card col-md-6">
    <div class="card-body">
      <h3 class="card-title">{% translate "Used memory" %}</h3>
      <p class="card-text"><div id="graph_mem_used"></div></p>
    </div>
  </div>
  <div class="card col-md-12">
    <div class="card-body">
      <h3 class="card-title">{% translate "Wasted memory" %}</h3>
      <p class="card-text"><div id="graph_mem_wasted"></div></p>
    </div>
  </div>
</div>

{% if 'lustre_exporter' in settings.EXPORTER_INSTALLED %}
<h2>{% translate "Filesystem" %}</h2>
<div class="row">
  <div class="card col-md-6">
    <div class="card-body">
      <h3 class="card-title">{% translate "Metadata operations" %}</h3>
      <p class="card-text"><div id="graph_lustre_mdt"></div></p>
    </div>
  </div>
  <div class="card col-md-6">
    <div class="card-body">
      <h3 class="card-title">{% translate "Bandwidth" %}</h3>
      <p class="card-text"><div id="graph_lustre_ost"></div></p>
    </div>
  </div>
</div>
{% endif %}

<h2>{% translate "Jobs running with this account" %}</h2>

<select select data-placeholder="{% translate "Filter by job status" %}" multiple class="chosen-select" id="select-status">
  <option value="Pending">Pending</option>
  <option value="Running">Running</option>
  <option value="Suspended">Suspended</option>
  <option value="Complete">Complete</option>
  <option value="Canceled">Canceled</option>
  <option value="Failed">Failed</option>
  <option value="Timeout">Timeout</option>
  <option value="Node Fail">Node Fail</option>
  <option value="Preempted">Preempted</option>
  <option value="Boot Fail">Boot Fail</option>
  <option value="End">End</option>
  <option value="OOM">OOM</option>
</select>

<table id="jobs" class="table table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/jobs/?format=datatables&account={{account}}">
  <thead class="thead-dark">
    <tr>
        <th scope="col">{% translate "Username" %}</th>
        <th scope="col">{% translate "Job ID" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Job name" %}</th>
        <th scope="col">{% translate "Submit time" %}</th>
        <th scope="col">{% translate "Start time" %}</th>
        <th scope="col">{% translate "End time" %}</th>
        <th scope="col">{% translate "Asked time" %}</th>
        <th scope="col">{% translate "Used time" %}</th>
    </tr>
  </thead>
</table>

{% include "notes.js" %}

<script>
{% if gpu %}
loadGraph('graph_gpu_priority', 'graph/gpu_priority.json');
{% else %}
loadGraph('graph_cpu_priority', 'graph/cpu_priority.json');
{% endif %}

{% if gpu %}
loadGraph('graph_gpu_allocated', 'graph/gpu_allocated.json');
loadGraph('graph_gpu_used', 'graph/gpu_used.json');
loadGraph('graph_gpu_wasted', 'graph/gpu_wasted.json');
{% endif %}

loadGraph('graph_cpu_allocated', 'graph/cpu_allocated.json');
loadGraph('graph_cpu_used', 'graph/cpu_used.json');
loadGraph('graph_cpu_wasted', 'graph/cpu_wasted.json');

loadGraph('graph_mem_allocated', 'graph/mem_allocated.json');
loadGraph('graph_mem_used', 'graph/mem_used.json');
loadGraph('graph_mem_wasted', 'graph/mem_wasted.json');

{% if 'lustre_exporter' in settings.EXPORTER_INSTALLED %}
loadGraph('graph_lustre_mdt', 'graph/lustre_mdt.json');
loadGraph('graph_lustre_ost', 'graph/lustre_ost.json');
{% endif %}

$(document).ready(function() {
  luxon.Settings.defaultLocale = "{{LANGUAGE_CODE}}"; // Luxon autodetect seems broken
  function parse_time(data, type) {
    if (data == null) {
      return '-';
    }
    return DateTime.fromISO(data).toLocaleString(DateTime.DATETIME_MED);
  }

  function state_to_badge(state){
    switch (state) {
      case 'Pending':
        return 'info';
      case 'Running':
        return 'primary';
      case 'Suspended':
        return 'warning';
      case 'Complete':
        return 'success';
      case 'Preempted':
        return 'warning';
      case 'End':
        return 'success';
      default:
        return 'danger';
    }
  }

  $('#jobs').DataTable({
    order: [[ 3, "desc" ]],
    stateSave: true,
    columns: [
      { data: 'username', 
        orderable: false,
        searchable: false,
      },
      { data: 'id_job',
        render: function ( data, type, row ) {
          return '<a href="/secure/jobstats/' + row['username'] + '/' + data + '">' + data + '</a>';
        }
      },
      { data: 'get_state_display',
        orderable: false,
        searchable: false,
        render: function ( data, type ) {
          return '<span class="badge badge-' + state_to_badge(data) + '">' + data + '</span>';
        }
      },
      { data: 'job_name' },
      { data: 'time_submit',
        render: parse_time,
      },
      { data: 'time_start',
        render: parse_time, },
      { data: 'time_end',
        render: parse_time, },
      { data: 'timelimit',
        orderable: false,
        searchable: false,
        render: function ( data, type ) {
          return humanizeDuration(data * 60 * 1000, { language: '{{LANGUAGE_CODE}}'});
        }
      },
      { data: null,
        render: function ( data, type, row, meta){
          if (data.time_start){
            if(data.time_end){
              return humanizeDuration(DateTime.fromISO(data.time_end).diff(DateTime.fromISO(data.time_start)).toMillis(), { language: '{{LANGUAGE_CODE}}'});
            } else {
              return humanizeDuration(DateTime.now().diff(DateTime.fromISO(data.time_start)).toMillis(), { language: '{{LANGUAGE_CODE}}', round: true});
            }
          }
          else{
            return '-';
          }
        }
      },
    ],
  });

  $(".chosen-select").chosen({width:"100%"})
  $('#select-status').on('change', function() {
    $('#jobs').DataTable().ajax.url( '/api/jobs/?format=datatables&account={{account}}&status=' + $(this).val().join(',') ).load();
  }).trigger('change');
});
</script>

{% endblock content %}
