{% extends 'base.html' %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Your accounts" %}{% endblock title %}

{% block content %}
<h1>{% translate "Your accounts" %}</h1>
{% if compute_allocations %}
<h2>{% translate "Allocations"%}</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">{% translate "Name" %}</th>
            <th scope="col">{% translate "Type" %}</th>
            <th scope="col">{% translate "Quantity" %}</th>
        </tr>
    </thead>
    <tbody>
{% for allocation in compute_allocations %}
        <tr>
            <td><a href="{{ allocation.name }}">{{ allocation.name }}</a></td>
            {% if 'cpu' in allocation %}
            <td>{% translate "CPU" %}</td>
                {% if allocation.cpu is None %}
                <td></td>
                {% else %}
                <td>{{ allocation.cpu }}</td>
                {% endif %}

            {% elif 'gpu' in allocation %}
            <td>{% translate "GPU" %}</td>
                {% if allocation.gpu is None %}
                <td></td>
                {% else %}
                <td>{{ allocation.gpu }}</td>
                {% endif %}
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock content %}
