name: Check spelling

on: 
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: codespell-project/actions-codespell@master
      with:
        check_filenames: true
        ignore_words_list: keypair
        skip: ./locale/fr/LC_MESSAGES/django.po,./locale/fr/LC_MESSAGES/djangojs.po,./mii-parser.py,./userportal/settings/30-cluster.py
